* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  font-size: 18px;
  position: relative;
  background-image: url(./images/bg-main-desktop.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33.68% 100%;
  /* &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: url(./design/complete-state-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.3;
  } */
}

.container {
  width: 1110px;
  margin: auto;
}

.container {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.card {
  height: 245px;
  width: 447px;
  position: relative;
}

.card--small-font {
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
}

.front-card {
  margin-bottom: 38px;
}

.front-card__logo {
  position: absolute;
  top: 28px;
  left: 30px;
}

.front-card__bottom {
  position: absolute;
  bottom: 0;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.front-card__number {
  display: block;
  font-size: 1.61em;
  margin-bottom: 26px;
  letter-spacing: 2.9px;
  color: white;
  width: 100%;
}

.front-card__name {
  letter-spacing: 2px;
}

.front-card__exp {
  margin-left: auto;
  letter-spacing: 1.5px;
  padding-right: 4px;
}

.back-card {
  margin-left: 93px;
}

.back-card__key {
  position: absolute;
  right: 57px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-container {
  padding-left: 50px;
}

.form {
  padding: 0 62px;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__wrapper {
  width: 100%;
  margin-bottom: 28px;
  position: relative;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.form__wrapper--half {
  width: 50%;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  margin-bottom: 41px;
  position: relative;
}

.form__wrapper--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__wrapper--date input {
  width: 42%;
  margin-right: 10px;
}

.form__title {
  display: block;
  text-transform: uppercase;
  font-size: 0.62em;
  letter-spacing: 2.6px;
  margin-bottom: 8px;
  color: #21092f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__input {
  width: 100%;
  height: 45px;
  border: 1px solid #8e8593;
  border-radius: 7px;
  padding: 0 15px;
  padding-top: 5px;
  font-size: 0.9em;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.9px;
  color: #21092f;
}

.form__input:focus {
  border: 1px solid #21092f;
  outline: none;
}

.form__error--blank,
.form__error--credit {
  position: absolute;
  left: 0;
  bottom: -25px;
  font-size: 0.68em;
  color: #ff5252;
  display: none;
}

.form__wrapper--error {
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  margin-bottom: 51px;
}

.form__wrapper--error .form__error--blank {
  display: block;
}

.form__input--error {
  border: 1px solid #ff5252;
}

.form__wrapper--errorCredit {
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  margin-bottom: 51px;
}

.form__wrapper--errorCredit .form__error--credit {
  display: block;
}

.form__wrapper--errorCredit .form__input {
  border: 1px solid #ff5252;
}

.form__btn {
  width: 100%;
  height: 53px;
  background-color: #21092f;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  border-radius: 7px;
  font-size: 0.95em;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.completed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.completed span {
  display: block;
  width: 100%;
  text-align: center;
}

.completed__txt {
  margin-top: 30px;
  font-size: 1.6em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.completed__subTxt {
  margin-top: 15px;
}

.completed__btn {
  margin-top: 48px;
  height: 53px;
  width: 380px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  background-color: #21092f;
  cursor: pointer;
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 15px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-image: url(./images/bg-main-mobile.png);
    background-size: 100% 35%;
    background-position: top;
  }
  .container {
    width: 70%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 35px 0;
    -ms-flex-line-pack: initial;
        align-content: initial;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .front-card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: absolute;
    bottom: 10px;
    z-index: 1;
  }
  .back-card {
    margin-left: auto;
  }
  .card {
    margin-bottom: 0;
  }
  .form-container {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  html,
  body {
    height: auto;
  }
  body {
    background-image: url(./images/bg-main-mobile.png);
    background-size: 100% 230px;
    background-position: top;
    padding-bottom: 30px;
  }
  .container {
    width: 100%;
    height: auto;
    padding: 35px 20px;
    display: block;
  }
  .front-card {
    bottom: -90px;
  }
  .back-card {
    margin-left: auto;
  }
  .card {
    height: 160px;
    width: 290px;
  }
  .card img {
    width: 100%;
  }
  .front-card__logo {
    top: 5px;
    left: 15px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .front-card__number {
    font-size: 0.86em;
  }
  .card--small-font {
    font-size: 0.6em;
  }
  .back-card__key {
    right: 35px;
  }
  .form-container {
    margin-top: 120px;
  }
  .form {
    padding: 0;
  }
  .form__wrapper--half {
    margin-bottom: 30px;
  }
  .completed__btn {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */