$Red: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Lightgrayishviolet: hsl(270, 3%, 87%);
$Darkgrayishviolet: hsl(279, 6%, 55%);
$Verydarkviolet: hsl(278, 68%, 11%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  font-size: 18px;
  position: relative;
  background-image: url(./images/bg-main-desktop.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  /* &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: url(./design/active-states.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.3;
  } */
}
.container {
  width: 1110px;
  margin: auto;
}
.container {
  height: 100%;
  align-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
}
.card {
  height: 245px;
  width: 447px;
  position: relative;
}
.card--small-font {
  color: $White;
  text-transform: uppercase;
  font-size: 0.8em;
}
.front-card {
  margin-bottom: 38px;
}
.front-card__logo {
  position: absolute;
  top: 28px;
  left: 30px;
}
.front-card__bottom {
  position: absolute;
  bottom: 0;
  padding: 25px 30px;
  display: flex;
  flex-wrap: wrap;
}
.front-card__number {
  display: block;
  font-size: 1.61em;
  margin-bottom: 26px;
  letter-spacing: 2.9px;
  color: $White;
  width: 100%;
}
.front-card__name {
  letter-spacing: 2px;
}
.front-card__exp {
  margin-left: auto;
  letter-spacing: 1.5px;
  padding-right: 4px;
}
.back-card {
  margin-left: 93px;
}
.back-card__key {
  position: absolute;
  right: 57px;
  letter-spacing: 2px;
  padding-bottom: 5px;

  top: 50%;
  transform: translateY(-50%);
}
.form-container {
  padding-left: 50px;
}
.form {
  padding: 0 62px;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form__wrapper {
  width: 100%;
  margin-bottom: 28px;
  position: relative;
  transition: ease 0.2s;
}

.form__wrapper--half {
  width: 50%;
  transition: ease 0.2s;
  margin-bottom: 41px;
  position: relative;
}
.form__wrapper--date {
  display: flex;
  flex-wrap: wrap;
  input {
    width: 42%;
    margin-right: 10px;
  }
}
.form__title {
  display: block;
  text-transform: uppercase;
  font-size: 0.62em;
  letter-spacing: 2.6px;
  margin-bottom: 8px;
  color: $Verydarkviolet;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form__input {
  width: 100%;
  height: 45px;
  border: 1px solid $Darkgrayishviolet;
  border-radius: 7px;
  padding: 0 15px;
  padding-top: 5px;
  font-size: 0.9em;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.9px;

  color: $Verydarkviolet;
  &:focus {
    border: 1px solid $Verydarkviolet;
    outline: none;
  }
}
.form__error--blank,
.form__error--credit {
  position: absolute;
  left: 0;
  bottom: -25px;
  font-size: 0.68em;
  color: $Red;
  display: none;
}
.form__wrapper--error {
  transition: ease 0.2s;
  margin-bottom: 51px;
  .form__error--blank {
    display: block;
  }
}
.form__input--error {
  border: 1px solid $Red;
}
.form__wrapper--errorCredit {
  transition: ease 0.2s;
  margin-bottom: 51px;
  .form__error--credit {
    display: block;
  }
}
.form__btn {
  width: 100%;
  height: 53px;
  background-color: $Verydarkviolet;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  border-radius: 7px;
  font-size: 0.95em;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 15px;
  transform: translate(-50%);
  left: 50%;
  a {
    color: hsl(228, 45%, 44%);
  }
}
