$Red: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Lightgrayishviolet: hsl(270, 3%, 87%);
$Darkgrayishviolet: hsl(279, 6%, 55%);
$Verydarkviolet: hsl(278, 68%, 11%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  font-size: 1.125rem;
  position: relative;
  background-image: url(./images/bg-main-desktop.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33.68% 100%;

  /* &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: url(./design/complete-state-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.3;
  } */
}
.container {
  width: 69.375rem;
  margin: auto;
}
.container {
  height: 100%;
  align-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
}
.card {
  height: 15.3125rem;
  width: 27.9375rem;
  position: relative;
}
.card--small-font {
  color: $White;
  text-transform: uppercase;
  font-size: 0.8em;
}
.front-card {
  margin-bottom: 2.375rem;
}
.front-card__logo {
  position: absolute;
  top: 1.75rem;
  left: 1.875rem;
}
.front-card__bottom {
  position: absolute;
  bottom: 0;
  padding: 1.5625rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.front-card__number {
  display: block;
  font-size: 1.61em;
  margin-bottom: 1.625rem;
  letter-spacing: 0.1812rem;
  color: $White;
  width: 100%;
  height: -webkit-fill-available;
  position: relative;
  transition: ease 0.2s;
}
.block {
  width: 0%;
  height: inherit;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #f3f3f3,
    #e8e8e8,
    #dcdcdc,
    #d1d1d1
  );
  position: absolute;
  display: flex;
  border-radius: 0.3125rem;
}

.block--active {
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
.front-card__name {
  letter-spacing: 0.125rem;
  height: -webkit-fill-available;
  position: relative;
  transition: ease 0.2s;
}
.front-card__exp {
  margin-left: auto;
  letter-spacing: 0.0938rem;
  padding-right: 0.25rem;
  height: -webkit-fill-available;
  position: relative;
  transition: ease 0.2s;
}
.back-card {
  margin-left: 5.8125rem;
}
.back-card__key {
  position: absolute;
  right: 3.5625rem;
  letter-spacing: 0.125rem;
  padding-bottom: 0.3125rem;
  top: 50%;
  transform: translateY(-50%);
}
.form-container {
  padding-left: 3.125rem;
}
.fade-out {
  opacity: 0;
  transition: ease 0.5s;
}
.fade-in {
  opacity: 1;
  transition: ease 0.5s;
}
.form {
  padding: 0 3.875rem;
  margin-top: 5.625rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 1;
  height: auto;
  transition: ease 0.1s;
  pointer-events: all;
}
.form--hide {
  opacity: 0;
  height: 0;
  transition: ease 0.1s;
  pointer-events: none;
}
.form__wrapper {
  width: 100%;
  margin-bottom: 1.75rem;
  position: relative;
  transition: ease 0.2s;
}

.form__wrapper--half {
  width: 50%;
  transition: ease 0.2s;
  margin-bottom: 2.5625rem;
  position: relative;
}
.form__wrapper--date {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;

  input {
    width: 42%;
    margin-right: 0.625rem;
  }
}
.form__title {
  display: block;
  text-transform: uppercase;
  font-size: 0.62em;
  letter-spacing: 0.1625rem;
  margin-bottom: 0.5rem;
  color: $Verydarkviolet;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form__input {
  width: 100%;
  height: 2.8125rem;
  border: 0.0625rem solid $Darkgrayishviolet;
  border-radius: 0.4375rem;
  padding: 0 0.9375rem;
  padding-top: 0.3125rem;
  font-size: 0.9em;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.0563rem;
  color: $Verydarkviolet;
  &:focus {
    border: 0.0625rem solid $Verydarkviolet;
    outline: none;
  }
}
.form__error--blank,
.form__error--format {
  position: absolute;
  left: 0;
  bottom: -1.5625rem;
  font-size: 0.68em;
  color: $Red;
  display: none;
}
.form__wrapper--error {
  transition: ease 0.2s;
  margin-bottom: 3.1875rem;
  .form__error--blank {
    display: block;
  }
  .form__input {
    border: 0.0625rem solid $Red;
  }
}
.form__input--error {
  border: 0.0625rem solid $Red;
}
.form__wrapper--errorFormat {
  transition: ease 0.2s;
  margin-bottom: 3.1875rem;
  .form__error--format {
    display: block;
  }
  .form__input {
    border: 0.0625rem solid $Red;
  }
}
.form__btn {
  width: 100%;
  height: 3.3125rem;
  background-color: $Verydarkviolet;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  border-radius: 0.4375rem;
  font-size: 0.95em;
  letter-spacing: 0.0313rem;
  cursor: pointer;
}

.completed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-content: center;

  span {
    display: block;
    width: 100%;
    text-align: center;
  }
  opacity: 1;
  height: auto;
  transition: ease 0.5s;
  pointer-events: all;
}
.completed--hide {
  opacity: 0;
  height: 0;
  transition: ease 0.5s;
  pointer-events: none;
}
#digit-4-1661713066918 {
  display: none;
}
.completed__txt {
  margin-top: 1.875rem;
  font-size: 1.6em;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}
.completed__subTxt {
  margin-top: 0.9375rem;
}
.completed__btn {
  margin-top: 3rem;
  height: 3.3125rem;
  width: 23.75rem;
  border-radius: 0.3125rem;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.0625rem;
  background-color: $Verydarkviolet;
  cursor: pointer;
}
.attribution {
  position: absolute;
  font-size: 0.6875rem;
  text-align: center;
  bottom: 0.9375rem;
  transform: translate(-50%);
  left: 50%;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (max-width: 64rem) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 50rem) {
  body {
    background-image: url(./images/bg-main-mobile.png);
    background-size: 100% 35%;

    background-position: top;
  }
  .container {
    width: 70%;
    grid-template-columns: 1fr;
    padding: 2.1875rem 0;
    align-content: initial;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .front-card {
    order: 1;
    position: absolute;
    bottom: 0.625rem;
    z-index: 1;
  }
  .back-card {
    margin-left: auto;
  }
  .card {
    margin-bottom: 0;
  }
  .form-container {
    padding-left: 0;
  }
}

@media screen and (max-width: 37.5rem) {
  html,
  body {
    height: auto;
  }

  body {
    background-image: url(./images/bg-main-mobile.png);
    background-size: 100% 14.375rem;
    background-position: top;
    padding-bottom: 1.875rem;
  }
  .container {
    width: 100%;
    height: auto;
    padding: 2.1875rem 1.25rem;
    display: block;
  }
  .front-card {
    bottom: -5.625rem;
  }
  .back-card {
    margin-left: auto;
  }
  .card {
    height: 10rem;
    width: 18.125rem;
    img {
      width: 100%;
    }
  }

  .front-card__logo {
    top: 0.3125rem;
    left: 0.9375rem;
    transform: scale(0.6);
  }
  .front-card__number {
    font-size: 0.86em;
  }
  .card--small-font {
    font-size: 0.6em;
  }
  .back-card__key {
    right: 2.1875rem;
  }
  .form-container {
    margin-top: 7.5rem;
  }
  .form {
    padding: 0;
  }
  .form__wrapper--half {
    margin-bottom: 1.875rem;
  }
  .completed__btn {
    width: 100%;
  }
}
